# env
.env
backend/.env
frontend/.env.local

# dependencies/build
node_modules/
frontend/node_modules/
.next/
frontend/.next/

# python
.venv/
backend/.venv/
__pycache__/
backend/__pycache__/
*.pyc

# vector db
a_chroma/
chroma_data/
backend/chroma_data/

# misc
.DS_Store
